<div fxLayout="row" fxLayout="center center" class="container-fluid">
  <div fxLayout="column" fxLayoutGap="20px">
    <h3>Liste de choses à faire</h3>
    <div fxLayout="row" fxLayoutGap="15" fxLayoutAlign="space-between">
      <input type="text" placeholder="que faire ?" class="form-control">
      <button class="btn btn-primary">Ajouter</button>
    </div>
    <ul class="list-group">
      <li fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center" class="list-group-item">
        <i class="material-icons">ckeck_box</i>
        <span fxFlex="auto">message</span>
        <button class="btn btn-danger">Supprimer</button>
      </li>
    </ul>
  </div>
</div>